<div
  *ngIf="permissionsLoading"
  class="flex justify-center items-center min-h-[300px]"
>
  <div
    class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-[#7F5EA3]"
  ></div>
</div>
<div *ngIf="!permissionsLoading">
  <ng-container
    *ngIf="permissionsStore.hasPermission('customer.view.list'); else denied"
  >
    <div class="w-full overflow-x-auto rounded-md">
      <div
        class="min-w-[1065px] divide-y-[1px] divide-neutral-200 overflow-hidden"
      >
        <!-- Title & Search -->
        <div class="flex justify-between py-4 px-5 bg-white items-center">
          <p class="font-bold">User Management</p>
          <div
            class="max-w-[288px] w-full flex bg-neutral-100 gap-1 p-[10px] rounded-md"
          >
            <img src="/icons/search.svg" alt="search icon" />
            <input
              type="text"
              placeholder="Search by name, phone number, or email"
              class="w-full text-xs bg-neutral-100 outline-none"
              [(ngModel)]="searchTerm"
              (ngModelChange)="onSearch($event)"
            />
          </div>
        </div>
        <!-- Header -->
        <div
          class="grid grid-cols-[80px_minmax(165px,1fr)_minmax(165px,1fr)_98px_165px_165px] bg-neutral-50 divide-x-[1px] divide-white text-sm"
        >
          <div class="px-5 py-3">Number</div>
          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortUsers('name')"
          >
            Name
            <img src="/icons/sort.svg" alt="sort-icon" />
          </div>
          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortUsers('phone_number')"
          >
            Phone Number
            <img src="/icons/sort.svg" alt="sort-icon" />
          </div>

          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortUsers('vehicles')"
          >
            Vehicles <img src="/icons/sort.svg" alt="sort-icon" />
          </div>
          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortUsers('is_verified')"
          >
            Status
            <img src="/icons/sort.svg" alt="sort-icon" />
          </div>
          <div class="px-5 py-3 flex items-center gap-1">Actions</div>
        </div>
        <!-- Table Rows -->
        <div
          *ngIf="loading"
          class="flex items-center justify-center bg-white py-12"
        >
          <div
            class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-[#7F5EA3]"
          ></div>
        </div>
        <ng-container *ngIf="!loading && users.length > 0; else noUsers">
          <div
            *ngFor="let user of users; let i = index"
            class="grid grid-cols-[80px_minmax(165px,1fr)_minmax(165px,1fr)_98px_165px_165px] bg-white text-sm"
          >
            <div class="px-5 py-3">
              {{ i + 1 + (pagination.current_page - 1) * pagination.per_page }}
            </div>
            <div class="px-5 py-3 flex items-center gap-1">
              <div class="line-clamp-1">
                {{ user.name ? user.name : "-" }}
              </div>
            </div>
            <div class="px-5 py-3 flex items-center gap-1">
              <div class="line-clamp-1">
                {{ user.phone_number ? user.phone_number : "-" }}
              </div>
            </div>

            <div class="px-5 py-3 flex items-center gap-1">
              {{ user.vehicle_count ? user.vehicle_count : "-" }}
            </div>
            <div class="px-5 py-3 flex items-center gap-1">
              <div
                [ngClass]="
                  user.is_verified
                    ? 'bg-green-50 border border-green-200 text-green-600'
                    : 'bg-red-50 border border-red-200 text-red-600'
                "
                class="w-full rounded-[4px] py-1 text-center"
              >
                {{ user.is_verified ? "Active" : "Inactive" }}
              </div>
            </div>
            <div class="px-5 py-3 flex justify-center gap-1">
              <img
                src="/icons/eye.svg"
                alt="view-icon"
                class="cursor-pointer w-[24px] h-[24px]"
                (click)="handleViewUser(user)"
              />
            </div>
          </div>
        </ng-container>
        <ng-template #noUsers>
          <div
            *ngIf="!loading"
            class="text-center text-neutral-500 py-8 bg-white"
          >
            No users found.
          </div>
        </ng-template>
        <!-- Pagination -->
        <div
          *ngIf="!loading && users.length > 0"
          class="flex justify-between py-4 px-5 bg-white items-center"
        >
          <div class="flex gap-2 items-center">
            <div>Show</div>
            <select
              class="border border-neutral-200 rounded-md p-2"
              [(ngModel)]="pagination.per_page"
              (change)="onPerPageChange()"
            >
              <option [value]="10">10</option>
              <option [value]="20">20</option>
              <option [value]="30">30</option>
            </select>
            <div>per page</div>
          </div>
          <div class="flex gap-4 items-center">
            <div class="text-neutral-500">
              {{ pagination.from }}-{{ pagination.to }} of
              {{ pagination.total }}
            </div>
            <div class="flex items-center gap-1">
              <div>
                <img
                  src="/icons/pagination-left.svg"
                  alt=""
                  class="cursor-pointer"
                  (click)="
                    pagination.current_page > 1 && pagination.total >= 10
                      ? goToPage(pagination.current_page - 1)
                      : null
                  "
                  [class.opacity-50]="
                    pagination.current_page === 1 || pagination.total < 10
                  "
                />
              </div>
              <ul class="flex gap-1 items-center">
                <ng-container
                  *ngFor="
                    let page of [].constructor(pagination.last_page || 0);
                    let i = index
                  "
                >
                  <!--First page-->
                  <li
                    *ngIf="i === 0"
                    class="py-2 px-4 rounded-md cursor-pointer"
                    [class.bg-neutral-100]="pagination.current_page === 1"
                    [class.text-neutral-400]="pagination.current_page !== 1"
                    (click)="goToPage(1)"
                  >
                    1
                  </li>
                  <!--Left ellipsis-->
                  <li
                    *ngIf="pagination.current_page > 4 && i === 1"
                    class="py-2 px-4"
                  >
                    ...
                  </li>

                  <!--Middle pages-->
                  <li
                    *ngIf="
                      i > 0 &&
                      i < pagination.last_page - 1 &&
                      i + 1 >= pagination.current_page - 1 &&
                      i + 1 <= pagination.current_page + 1
                    "
                    class="py-2 px-4 rounded-md cursor-pointer"
                    [class.bg-neutral-100]="pagination.current_page === i + 1"
                    [class.text-neutral-400]="pagination.current_page !== i + 1"
                    (click)="goToPage(i + 1)"
                  >
                    {{ i + 1 }}
                  </li>

                  <!--Right ellipsis-->
                  <li
                    *ngIf="
                      pagination.current_page < pagination.last_page - 3 &&
                      i === pagination.last_page - 2
                    "
                    class="py-2 px-4"
                  >
                    ...
                  </li>
                  <!--Last page-->
                  <li
                    *ngIf="i === pagination.last_page - 1 && i > 0"
                    class="py-2 px-4 rounded-md cursor-pointer"
                    [class.bg-neutral-100]="
                      pagination.current_page === pagination.last_page
                    "
                    [class.text-neutral-400]="
                      pagination.current_page !== pagination.last_page
                    "
                    (click)="goToPage(pagination.last_page)"
                  >
                    {{ pagination.last_page }}
                  </li>
                </ng-container>
              </ul>
              <div>
                <img
                  src="/icons/pagination-right.svg"
                  alt=""
                  class="cursor-pointer"
                  (click)="
                    pagination.current_page < pagination.last_page &&
                    pagination.total >= 10
                      ? goToPage(pagination.current_page + 1)
                      : null
                  "
                  [class.opacity-50]="
                    pagination.current_page === pagination.last_page ||
                    pagination.total < 10
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #denied>
    <app-access-denied
      [message]="'You do not have permission to view the user list.'"
      [icon]="'/icons/access.svg'"
      [title]="'Access Denied'"
    />
  </ng-template>
</div>

<!-- Edit User Modal -->
<div
  *ngIf="isEditModalOpen"
  class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-50 p-3"
>
  <form
    (ngSubmit)="handleUpdateUser()"
    class="rounded-[20px] p-6 w-full max-w-[721px] shadow-lg grid gap-6 bg-[#F7F7FB]"
  >
    <div
      class="flex justify-between border-b border-neutral-300 pb-6 items-center"
    >
      <h2 class="text-lg font-bold">User Details</h2>
      <div class="flex gap-2">
        <div class="flex items-center gap-2">
          <label class="relative inline-flex items-center cursor-pointer">
            <input
              type="checkbox"
              class="sr-only peer"
              [(ngModel)]="selectedUser.is_verified"
              name="is_verified"
            />
            <div
              class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 rounded-full peer peer-checked:bg-[#82645A] transition-all"
            ></div>
            <div
              class="absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition-all peer-checked:translate-x-5"
            ></div>
          </label>
          <span class="text-sm text-gray-600">{{
            selectedUser.is_verified ? "Active" : "Inactive"
          }}</span>
        </div>
        <button
          type="button"
          class="p-1 rounded bg-rose-100 text-white"
          (click)="handleDeleteUser(selectedUser)"
        >
          <img src="/icons/delete.svg" alt="delete icon" />
        </button>
      </div>
    </div>
    <div class="grid gap-y-6 gap-x-4">
      <div>
        <label class="block text-sm mb-1">Full Name</label>
        <input
          type="text"
          class="w-full border rounded p-2"
          [(ngModel)]="selectedUser.name"
          name="name"
        />
      </div>
      <div>
        <label class="block text-sm mb-1">Phone Number</label>
        <input
          type="text"
          class="w-full border rounded p-2"
          [(ngModel)]="selectedUser.phone_number"
          name="phone_number"
          disabled
        />
      </div>

      <div>
        <label class="block text-sm mb-1">Vehicles</label>
        <input
          type="text"
          class="w-full border rounded p-2"
          [(ngModel)]="selectedUser.vehicle_count"
          name="vehicles"
          disabled
        />
      </div>
    </div>

    <div class="flex justify-center gap-2 items-center">
      <div class="flex flex-1 justify-center gap-2">
        <button
          type="button"
          class="px-4 py-2 bg-[#E6E2F2] max-w-[223px] w-full h-[60px] rounded-[60px] flex items-center justify-center gap-1"
          (click)="closeEditModal()"
        >
          <img src="/icons/cancel-btn.svg" alt="" />
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-[#7F5EA3] max-w-[223px] w-full h-[60px] text-white rounded-[60px] flex items-center justify-center gap-1"
          [disabled]="updateLoading"
        >
          <img *ngIf="!updateLoading" src="/icons/submit.svg" alt="" />
          <div
            *ngIf="updateLoading"
            class="animate-spin rounded-full h-5 w-5 border-t-2 border-b-2 border-white"
          ></div>
          {{ updateLoading ? "Saving..." : "Save" }}
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Delete Confirmation Modal -->
<div
  *ngIf="isDeleteConfirmOpen"
  class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-50 p-3"
>
  <div
    class="bg-white rounded-[20px] p-8 w-full max-w-[400px] shadow-lg flex flex-col items-center gap-6"
  >
    <h2
      class="text-lg font-bold text-center text-rose-600 flex items-center gap-2"
    >
      <img src="/icons/delete.png" alt="" />
      <div class="max-w-[200px]">Are you sure this user has been deleted?</div>
    </h2>
    <div class="flex gap-4 w-full justify-center">
      <button
        class="px-6 py-2 text-rose-600 rounded-[60px] border border-rose-600 flex items-center justify-center gap-1"
        (click)="cancelDeleteUser()"
      >
        Cancel
      </button>
      <button
        class="px-6 py-2 bg-rose-600 text-white rounded-[60px] flex items-center justify-center gap-1"
        (click)="confirmDeleteUser()"
        [disabled]="deleteLoading"
      >
        <div
          *ngIf="deleteLoading"
          class="animate-spin rounded-full h-5 w-5 border-t-2 border-b-2 border-white"
        ></div>
        <span *ngIf="!deleteLoading">Yes, Delete</span>
        <span *ngIf="deleteLoading">Deleting...</span>
      </button>
    </div>
  </div>
</div>
