<div class="grid grid-cols-2 gap-6">
  <div
    class="p-4 shadow-[0px_1px_12px_0px_#191B231A] flex gap-[10px] items-end rounded-[10px]"
  >
    <img src="/icons/phonenumber.svg" alt="" class="w-[30px] h-[30px]" />
    <div class="flex flex-col gap-[10px] w-full">
      <div class="text-neutral-600">Mobile Number:</div>
      <input
        type="text"
        class="shadow-[0px_1px_2px_0px_#E4E5E73D] rounded-[6px] border-neutral-200 border w-full"
      />
    </div>
  </div>
  <div
    class="p-4 shadow-[0px_1px_12px_0px_#191B231A] flex gap-[10px] items-end rounded-[10px]"
  >
    <img src="/icons/whatsapp.svg" alt="" class="w-[30px] h-[30px]" />
    <div class="flex flex-col gap-[10px] w-full">
      <div class="text-neutral-600">WhatsApp:</div>
      <input
        type="text"
        class="shadow-[0px_1px_2px_0px_#E4E5E73D] rounded-[6px] border-neutral-200 border w-full"
      />
    </div>
  </div>
  <div
    class="p-4 shadow-[0px_1px_12px_0px_#191B231A] flex gap-[10px] items-end rounded-[10px]"
  >
    <img src="/icons/facebook.svg" alt="" class="w-[30px] h-[30px]" />
    <div class="flex flex-col gap-[10px] w-full">
      <div class="text-neutral-600">Facebook Username:</div>
      <input
        type="text"
        class="shadow-[0px_1px_2px_0px_#E4E5E73D] rounded-[6px] border-neutral-200 border w-full"
      />
    </div>
  </div>
  <div
    class="p-4 shadow-[0px_1px_12px_0px_#191B231A] flex gap-[10px] items-end rounded-[10px]"
  >
    <img src="/icons/twitter.svg" alt="" class="w-[30px] h-[30px]" />
    <div class="flex flex-col gap-[10px] w-full">
      <div class="text-neutral-600">Twitter Username:</div>
      <input
        type="text"
        class="shadow-[0px_1px_2px_0px_#E4E5E73D] rounded-[6px] border-neutral-200 border w-full"
      />
    </div>
  </div>
  <div
    class="p-4 shadow-[0px_1px_12px_0px_#191B231A] flex gap-[10px] items-end rounded-[10px]"
  >
    <img src="/icons/instagram.svg" alt="" class="w-[30px] h-[30px]" />
    <div class="flex flex-col gap-[10px] w-full">
      <div class="text-neutral-600">Instagram Username:</div>
      <input
        type="text"
        class="shadow-[0px_1px_2px_0px_#E4E5E73D] rounded-[6px] border-neutral-200 border w-full"
      />
    </div>
  </div>
  <div
    class="p-4 shadow-[0px_1px_12px_0px_#191B231A] flex gap-[10px] items-end rounded-[10px]"
  >
    <img src="/icons/email.svg" alt="" class="w-[30px] h-[30px]" />
    <div class="flex flex-col gap-[10px] w-full">
      <div class="text-neutral-600">Email:</div>
      <input
        type="text"
        class="shadow-[0px_1px_2px_0px_#E4E5E73D] rounded-[6px] border-neutral-200 border w-full"
      />
    </div>
  </div>
</div>
