<div class="flex flex-col items-center justify-center ]">
  <div
    class="bg-white rounded-xl shadow-md p-8 flex flex-col items-center w-full"
    [ngClass]="maxWidth === 'md' ? 'max-w-md' : ''"
  >
    <img [src]="icon" alt="No Access" class="w-16 h-16 mb-4 opacity-70" />
    <h2 class="text-2xl font-bold text-[#7F5EA3] mb-2">{{ title }}</h2>
    <p class="text-neutral-500 text-center mb-2">
      {{ message }}<br />
      <span *ngIf="!message.includes('contact')"
        >Please contact your administrator if you believe this is a
        mistake.</span
      >
    </p>
  </div>
</div>
