<div class="w-full overflow-x-auto rounded-md">
  <div class="min-w-[1065px] divide-y-[1px] divide-neutral-200 overflow-hidden">
    <!-- Title & Search -->
    <div class="flex justify-between py-4 px-5 bg-white items-center">
      <p class="font-bold">User Management</p>
      <div
        class="max-w-[288px] w-full flex bg-neutral-100 gap-1 p-[10px] rounded-md"
      >
        <img src="/icons/search.svg" alt="search icon" />
        <input
          type="text"
          placeholder="Search by name, phone number, or email"
          class="w-full text-xs bg-neutral-100 outline-none"
        />
      </div>
    </div>
    <!-- Header -->
    <div
      class="grid grid-cols-[83px_minmax(177px,1fr)_minmax(227px,1fr)_minmax(151px,1fr)_162px_150px_115px] bg-neutral-50 divide-x-[1px] divide-white text-sm"
    >
      <div class="px-5 py-3">Number</div>
      <div class="px-5 py-3 flex items-center gap-1">
        Admin Name <img src="/icons/sort.svg" alt="sort-icon" />
      </div>
      <div class="px-5 py-3 flex items-center gap-1">
        Email <img src="/icons/sort.svg" alt="sort-icon" />
      </div>
      <div class="px-5 py-3 flex items-center gap-1">
        Role <img src="/icons/sort.svg" alt="sort-icon" />
      </div>
      <div class="px-5 py-3 flex items-center gap-1">
        Status <img src="/icons/sort.svg" alt="sort-icon" />
      </div>
      <div class="px-5 py-3 flex items-center gap-1">
        Date Created <img src="/icons/sort.svg" alt="sort-icon" />
      </div>
      <div class="px-5 py-3 flex items-center gap-1">
        Actions <img src="/icons/sort.svg" alt="sort-icon" />
      </div>
    </div>
    <!-- Table Rows -->
    <div
      class="grid grid-cols-[83px_minmax(177px,1fr)_minmax(227px,1fr)_minmax(151px,1fr)_162px_150px_115px] bg-white text-sm"
    >
      <div class="px-5 py-3">1</div>
      <div class="px-5 py-3 flex items-center gap-1">
        <div class="line-clamp-1">Mohamed Ali</div>
      </div>
      <div class="px-5 py-3 flex items-center gap-1">
        <div class="line-clamp-1">mohamed.ali&#64;email.com</div>
      </div>
      <div class="px-5 py-3 flex items-center gap-1">Super Admin</div>
      <div class="px-5 py-3 flex items-center gap-1">
        <div
          class="bg-green-50 border border-green-200 w-full rounded-[4px] text-green-600 py-1 text-center"
        >
          Active
        </div>
      </div>
      <div class="px-5 py-3 flex items-center gap-1">2025-01-15</div>
      <div class="px-5 py-3 flex justify-center gap-1">
        <img src="/icons/eye.svg" alt="sort-icon" />
      </div>
    </div>
    <div
      class="grid grid-cols-[83px_minmax(177px,1fr)_minmax(227px,1fr)_minmax(151px,1fr)_162px_150px_115px] bg-white text-sm"
    >
      <div class="px-5 py-3">1</div>
      <div class="px-5 py-3 flex items-center gap-1">Mohamed Ali</div>
      <div class="px-5 py-3 flex items-center gap-1">
        <div class="line-clamp-1">mohamed.ali&#64;email.com</div>
      </div>
      <div class="px-5 py-3 flex items-center gap-1">Super Admin</div>
      <div class="px-5 py-3 flex items-center gap-1">
        <div
          class="bg-green-50 border border-green-200 w-full rounded-[4px] text-green-600 py-1 text-center"
        >
          Active
        </div>
      </div>
      <div class="px-5 py-3 flex items-center gap-1">2025-01-15</div>
      <div class="px-5 py-3 flex justify-center gap-1">
        <img src="/icons/eye.svg" alt="sort-icon" />
      </div>
    </div>

    <!-- Pagination -->
    <div class="flex justify-between py-4 px-5 bg-white items-center">
      <div class="flex gap-2 items-center">
        <div>Show</div>
        <select class="border border-neutral-200 rounded-md p-2">
          <option value="1">10</option>
          <option value="2">20</option>
          <option value="3">30</option>
        </select>
        <div>per page</div>
      </div>
      <div class="flex gap-4 items-center">
        <div class="text-neutral-500">1-10 of 52</div>
        <div class="flex items-center gap-1">
          <div>
            <img src="/icons/pagination-left.svg" alt="" />
          </div>
          <ul class="flex gap-1">
            <li class="py-2 px-4 rounded-md cursor-pointer text-neutral-400">
              1
            </li>
            <li class="py-2 px-4 rounded-md cursor-pointer bg-neutral-100">
              2
            </li>
            <li class="py-2 px-4 rounded-md cursor-pointer text-neutral-400">
              3
            </li>
            <li class="py-2 px-4 rounded-md cursor-pointer text-neutral-400">
              4
            </li>
            <li class="py-2 px-4 rounded-md cursor-pointer text-neutral-400">
              5
            </li>
          </ul>
          <div>
            <img src="/icons/pagination-right.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
