<div
  *ngIf="permissionsLoading"
  class="flex justify-center items-center min-h-[300px]"
>
  <div
    class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-[#7F5EA3]"
  ></div>
</div>
<div *ngIf="!permissionsLoading">
  <ng-container
    *ngIf="permissionsStore.hasPermission('vehicle.view.list'); else denied"
  >
    <div class="w-full overflow-x-auto rounded-md">
      <div
        class="min-w-[1065px] divide-y-[1px] divide-neutral-200 overflow-hidden"
      >
        <!-- Title & Search -->
        <div class="flex justify-between py-4 px-5 bg-white items-center">
          <p class="font-bold">Vehicle Management</p>
          <div
            class="max-w-[350px] w-full flex bg-neutral-100 gap-1 p-[10px] rounded-md"
          >
            <img src="/icons/search.svg" alt="search icon" />
            <input
              type="text"
              placeholder="Search by vehicle name, owner, plate number, or brand"
              class="w-full text-xs bg-neutral-100 outline-none"
              [(ngModel)]="searchTerm"
              (ngModelChange)="onSearch($event)"
            />
          </div>
        </div>

        <!-- Header -->
        <div
          class="grid grid-cols-[100px_minmax(151px,1fr)_152px_153px_minmax(185px,1fr)_160px_163px] bg-neutral-50 divide-x-[1px] divide-white text-sm"
        >
          <div class="px-5 py-3 flex items-center gap-1">Number</div>
          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortVehicles('name')"
          >
            Vehicle Name
            <img src="/icons/sort.svg" alt="sort-icon" />
          </div>
          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortVehicles('model_year')"
          >
            Model Year
            <img src="/icons/sort.svg" alt="sort-icon" />
          </div>
          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortVehicles('make_brand')"
          >
            Brand
            <img src="/icons/sort.svg" alt="sort-icon" />
          </div>
          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortVehicles('owner')"
          >
            Owner Name
            <img src="/icons/sort.svg" alt="sort-icon" />
          </div>
          <div
            class="px-5 py-3 flex items-center gap-1 cursor-pointer"
            (click)="sortVehicles('plate_number')"
          >
            Plate Number
            <img src="/icons/sort.svg" alt="sort-icon" />
          </div>
          <div class="px-5 py-3 flex items-center gap-1">Actions</div>
        </div>

        <!-- Loading State -->
        <div
          *ngIf="loading"
          class="flex items-center justify-center bg-white py-12"
        >
          <div
            class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-[#7F5EA3]"
          ></div>
        </div>

        <!-- Table Rows and Empty State -->
        <ng-container *ngIf="!loading">
          <ng-container *ngIf="vehicles.length > 0; else emptyState">
            <div
              *ngFor="let vehicle of vehicles; let i = index"
              class="grid grid-cols-[100px_minmax(151px,1fr)_152px_153px_minmax(185px,1fr)_160px_163px] bg-white text-sm"
            >
              <div class="px-5 py-3">
                {{
                  i + 1 + (pagination.current_page - 1) * pagination.per_page
                }}
              </div>
              <div class="px-5 py-3 flex items-center gap-1">
                <div class="line-clamp-1">{{ vehicle.name }}</div>
              </div>
              <div class="px-5 py-3 flex items-center gap-1">
                <div class="line-clamp-1">{{ vehicle.model_year }}</div>
              </div>
              <div class="px-5 py-3 flex items-center gap-1">
                <div class="line-clamp-1">{{ vehicle.make_brand }}</div>
              </div>
              <div class="px-5 py-3 flex items-center gap-1">
                <div class="line-clamp-1">{{ vehicle.owner.name }}</div>
              </div>
              <div class="px-5 py-3 flex items-center gap-1">
                <div class="line-clamp-1">{{ vehicle.plate_number }}</div>
              </div>
              <div class="px-5 py-3 flex justify-center gap-2">
                <img
                  src="/icons/eye.svg"
                  alt="view-icon"
                  class="h-[19px] w-[19px] cursor-pointer"
                  (click)="handleViewVehicle(vehicle)"
                />
                <img
                  src="/icons/edit.svg"
                  alt="edit-icon"
                  class="h-[19px] w-[19px] cursor-pointer"
                  (click)="handleEditVehicle(vehicle)"
                />
                <img
                  src="/icons/delete.svg"
                  alt="delete-icon"
                  class="h-[19px] w-[19px] cursor-pointer"
                  (click)="handleDeleteVehicle(vehicle)"
                />
                <img
                  src="/icons/history.svg"
                  alt="history-icon"
                  class="h-[19px] w-[19px] cursor-pointer"
                  (click)="handleViewHistory(vehicle)"
                />
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #emptyState>
          <div class="flex justify-center items-center py-8 bg-white">
            <div class="text-neutral-500">No vehicles found.</div>
          </div>
        </ng-template>

        <!-- Pagination -->
        <div
          *ngIf="!loading && vehicles.length > 0"
          class="flex justify-between py-4 px-5 bg-white items-center"
        >
          <div class="flex gap-2 items-center">
            <div>Show</div>
            <select
              class="border border-neutral-200 rounded-md p-2"
              [(ngModel)]="pagination.per_page"
              (change)="onPerPageChange()"
            >
              <option [value]="10">10</option>
              <option [value]="20">20</option>
              <option [value]="30">30</option>
            </select>
            <div>per page</div>
          </div>
          <div class="flex gap-4 items-center">
            <div class="text-neutral-500">
              {{ pagination.from }}-{{ pagination.to }} of
              {{ pagination.total }}
            </div>
            <div class="flex items-center gap-1">
              <div>
                <img
                  src="/icons/pagination-left.svg"
                  alt=""
                  class="cursor-pointer"
                  (click)="
                    pagination.current_page > 1
                      ? goToPage(pagination.current_page - 1)
                      : null
                  "
                  [class.opacity-50]="pagination.current_page === 1"
                />
              </div>
              <ul class="flex gap-1 items-center">
                <ng-container
                  *ngFor="
                    let page of [].constructor(pagination.last_page || 0);
                    let i = index
                  "
                >
                  <!--First page-->
                  <li
                    *ngIf="i === 0"
                    class="py-2 px-4 rounded-md cursor-pointer"
                    [class.bg-neutral-100]="pagination.current_page === 1"
                    [class.text-neutral-400]="pagination.current_page !== 1"
                    (click)="goToPage(1)"
                  >
                    1
                  </li>
                  <!--Left ellipsis-->
                  <li
                    *ngIf="pagination.current_page > 4 && i === 1"
                    class="py-2 px-4"
                  >
                    ...
                  </li>

                  <!--Middle pages-->
                  <li
                    *ngIf="
                      i > 0 &&
                      i < pagination.last_page - 1 &&
                      i + 1 >= pagination.current_page - 1 &&
                      i + 1 <= pagination.current_page + 1
                    "
                    class="py-2 px-4 rounded-md cursor-pointer"
                    [class.bg-neutral-100]="pagination.current_page === i + 1"
                    [class.text-neutral-400]="pagination.current_page !== i + 1"
                    (click)="goToPage(i + 1)"
                  >
                    {{ i + 1 }}
                  </li>

                  <!--Right ellipsis-->
                  <li
                    *ngIf="
                      pagination.current_page < pagination.last_page - 3 &&
                      i === pagination.last_page - 2
                    "
                    class="py-2 px-4"
                  >
                    ...
                  </li>
                  <!--Last page-->
                  <li
                    *ngIf="i === pagination.last_page - 1 && i > 0"
                    class="py-2 px-4 rounded-md cursor-pointer"
                    [class.bg-neutral-100]="
                      pagination.current_page === pagination.last_page
                    "
                    [class.text-neutral-400]="
                      pagination.current_page !== pagination.last_page
                    "
                    (click)="goToPage(pagination.last_page)"
                  >
                    {{ pagination.last_page }}
                  </li>
                </ng-container>
              </ul>
              <div>
                <img
                  src="/icons/pagination-right.svg"
                  alt=""
                  class="cursor-pointer"
                  (click)="
                    pagination.current_page < pagination.last_page
                      ? goToPage(pagination.current_page + 1)
                      : null
                  "
                  [class.opacity-50]="
                    pagination.current_page === pagination.last_page
                  "
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #denied>
    <app-access-denied
      [message]="'You do not have permission to view the vehicle list.'"
      [icon]="'/icons/access.svg'"
      [title]="'Access Denied'"
    />
  </ng-template>
</div>

<!-- Vehicle Details Modal  -->
<div
  *ngIf="showModal"
  class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-50 p-3"
>
  <div
    class="bg-[#F7F7FB] rounded-[20px] p-6 w-full max-w-[721px] max-h-[500px] overflow-y-auto shadow-lg grid gap-6 relative"
  >
    <div
      class="border-b border-neutral-300 pb-6 items-center justify-between flex"
    >
      <div class="font-bold">Vehicle Details</div>
    </div>
    <div class="grid gap-6" *ngIf="selectedVehicle">
      <div class="flex gap-3 justify-between flex-wrap items-center">
        <div>
          <span class="text-neutral-600 font-medium">Owner Name: </span>
          <span class="text-[#7F5EA3] font-medium">{{
            selectedVehicle.owner.name
          }}</span>
        </div>
      </div>
      <div class="grid gap-4">
        <div class="grid lg:grid-cols-2 gap-4">
          <div class="flex flex-col gap-1 col-span-full">
            <label class="text-sm font-[400] text-neutral-500"
              >Vehicle Name</label
            >
            <input
              type="text"
              [value]="selectedVehicle.name"
              readonly
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm bg-neutral-50"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm font-medium text-neutral-600">Brand</label>
            <input
              type="text"
              [value]="selectedVehicle.make_brand"
              readonly
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm bg-neutral-50"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm font-[400] text-neutral-500"
              >Model Year</label
            >
            <input
              type="text"
              [value]="selectedVehicle.model_year"
              readonly
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm bg-neutral-50"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm font-[400] text-neutral-500"
              >VIN Number</label
            >
            <input
              type="text"
              [value]="selectedVehicle.vin_number"
              readonly
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm bg-neutral-50"
            />
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm font-[400] text-neutral-500"
              >Current Mileage (km)</label
            >
            <input
              type="text"
              [value]="selectedVehicle.mileage"
              readonly
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm bg-neutral-50"
            />
          </div>
        </div>
      </div>
      <button
        type="button"
        (click)="closeModal()"
        class="px-4 py-2 mx-auto bg-[#E6E2F2] max-w-[223px] w-full h-[60px] rounded-[60px] flex items-center justify-center gap-1"
      >
        <img src="/icons/cancel.svg" alt="close" class="w-6 h-6" />
        Close
      </button>
    </div>
  </div>
</div>

<!-- Edit Vehicle Modal  -->
<div
  *ngIf="editModalOpen"
  class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-50 p-3"
>
  <form
    (ngSubmit)="saveEditVehicle()"
    class="bg-[#F7F7FB] rounded-[20px] p-6 w-full max-w-[721px] max-h-[500px] overflow-y-auto shadow-lg grid gap-6 relative"
  >
    <div
      class="border-b border-neutral-300 pb-6 items-center justify-between flex"
    >
      <div class="font-bold">Edit Vehicle</div>
    </div>
    <div class="grid gap-6" *ngIf="editVehicle && editVehicleForm">
      <div class="flex gap-3 justify-between flex-wrap items-center">
        <div>
          <span class="text-neutral-600 font-medium">Owner Name: </span>
          <span class="text-[#7F5EA3] font-medium">{{
            editVehicle.owner.name
          }}</span>
        </div>
      </div>
      <div class="grid gap-4">
        <div class="grid lg:grid-cols-2 gap-4">
          <div class="flex flex-col gap-1 col-span-full">
            <label class="text-sm font-[400] text-neutral-500"
              >Vehicle Name</label
            >
            <input
              type="text"
              [(ngModel)]="editVehicleForm.name"
              name="editName"
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm"
              required
              #nameInput="ngModel"
            />
            <div
              *ngIf="nameInput.invalid && nameInput.touched"
              class="text-red-500 text-xs mt-1"
            >
              Vehicle Name is required.
            </div>
            <div
              *ngIf="editVehicleErrors['name']"
              class="text-red-500 text-xs mt-1"
            >
              {{ editVehicleErrors["name"] }}
            </div>
            <div
              *ngIf="editVehicleErrors['general']"
              class="text-red-500 text-xs mt-1"
            >
              {{ editVehicleErrors["general"] }}
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm font-medium text-neutral-600">Brand</label>
            <input
              type="text"
              [(ngModel)]="editVehicleForm.make_brand"
              name="editBrand"
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm"
              required
              #brandInput="ngModel"
            />
            <div
              *ngIf="brandInput.invalid && brandInput.touched"
              class="text-red-500 text-xs mt-1"
            >
              Brand is required.
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm font-[400] text-neutral-500"
              >Model Year</label
            >
            <input
              type="text"
              [(ngModel)]="editVehicleForm.model_year"
              name="editModelYear"
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm"
              maxlength="4"
              required
              pattern="^[0-9]{4}$"
              #modelYearInput="ngModel"
              (input)="onModelYearInput()"
            />
            <div
              *ngIf="modelYearInput.invalid && modelYearInput.touched"
              class="text-red-500 text-xs mt-1"
            >
              <span
                *ngIf="
                  modelYearInput.errors && modelYearInput.errors['required']
                "
                >Model Year is required.</span
              >
              <span
                *ngIf="
                  modelYearInput.errors && modelYearInput.errors['pattern']
                "
                >Enter a valid 4-digit year.</span
              >
            </div>
            <div
              *ngIf="editVehicleErrors['model_year']"
              class="text-red-500 text-xs mt-1"
            >
              {{ editVehicleErrors["model_year"] }}
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm font-[400] text-neutral-500"
              >VIN Number</label
            >
            <input
              type="text"
              [(ngModel)]="editVehicleForm.vin_number"
              name="editVin"
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm"
              maxlength="50"
              required
              #vinInput="ngModel"
            />
            <div
              *ngIf="vinInput.invalid && vinInput.touched"
              class="text-red-500 text-xs mt-1"
            >
              VIN Number is required.
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label class="text-sm font-[400] text-neutral-500"
              >Current Mileage (km)</label
            >
            <input
              type="number"
              [(ngModel)]="editVehicleForm.mileage"
              name="editMileage"
              class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm"
              maxlength="12"
              autocomplete="off"
              required
              min="0"
              #mileageInput="ngModel"
            />
            <div
              *ngIf="mileageInput.invalid && mileageInput.touched"
              class="text-red-500 text-xs mt-1"
            >
              <span
                *ngIf="mileageInput.errors && mileageInput.errors['required']"
                >Current Mileage is required.</span
              >
              <span *ngIf="mileageInput.errors && mileageInput.errors['min']"
                >Mileage must be a positive number.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center gap-4 mt-4">
        <button
          type="button"
          (click)="closeEditModal()"
          class="px-4 py-2 bg-[#E6E2F2] max-w-[223px] w-full h-[60px] rounded-[60px] flex items-center justify-center gap-1"
          [disabled]="editLoading"
        >
          <img src="/icons/cancel-btn.svg" alt="" />
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="editLoading"
          class="px-4 py-2 bg-[#7F5EA3] max-w-[223px] w-full h-[60px] text-white rounded-[60px] flex items-center justify-center gap-1"
        >
          <img *ngIf="!editLoading" src="/icons/submit.svg" alt="" />
          <div
            *ngIf="editLoading"
            class="animate-spin rounded-full h-5 w-5 border-t-2 border-b-2 border-white"
          ></div>
          {{ editLoading ? "Saving..." : "Save" }}
        </button>
      </div>
    </div>
  </form>
</div>

<div
  *ngIf="serviceHistoryModalOpen"
  class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-50 p-3"
>
  <div
    class="bg-[#F7F7FB] rounded-[20px] p-6 w-full max-w-[712px] max-h-[600px] md:max-h-[1000px] overflow-y-auto shadow-lg grid gap-6 relative"
  >
    <div class="flex justify-between items-center gap-2 flex-wrap">
      <div class="font-bold text-lg">
        Service History - {{ serviceHistoryVehicle?.make_brand }}
        {{ serviceHistoryVehicle?.name }}
      </div>
      <div *ngIf="(serviceHistoryOwner?.vehicles?.length || 0) > 1">
        <select
          [(ngModel)]="serviceHistoryVehicle"
          (ngModelChange)="setServiceTabs()"
          class="w-full border border-neutral-300 rounded-[6px] p-2 text-sm max-w-[300px]"
        >
          <option
            *ngFor="let v of serviceHistoryOwner?.vehicles ?? []"
            [ngValue]="v"
          >
            {{ v.make_brand }} {{ v.name }}
          </option>
        </select>
      </div>
    </div>

    <hr />
    <div class="flex justify-center gap-5 mb-4 text-sm">
      <button
        class="py-2 px-4 text-base font-medium focus:outline-none border-b-2"
        [ngClass]="{
          'text-[#7F5EA3] border-[#7F5EA3]': serviceHistoryTab === 'last',
          'text-neutral-400 border-transparent': serviceHistoryTab !== 'last'
        }"
        (click)="switchServiceTab('last')"
      >
        Last service
      </button>
      <button
        class="py-2 px-4 text-base focus:outline-none border-b-2"
        [ngClass]="{
          'text-[#7F5EA3] border-[#7F5EA3]': serviceHistoryTab === 'previous',
          'text-neutral-400 border-transparent':
            serviceHistoryTab !== 'previous'
        }"
        (click)="switchServiceTab('previous')"
      >
        Previous Services
      </button>
    </div>
    <div *ngIf="serviceHistoryTab === 'last'">
      <ng-container *ngIf="lastService; else noService">
        <div class="mb-2 gap-[5px] grid text-sm">
          <div
            class="flex flex-wrap gap-x-10 gap-y-2.5 bg-[#E8D1C6] py-[6px] px-[22px] rounded-md"
          >
            <div class="flex gap-1">
              <span class="text-neutral-600">Service Date:</span>
              <div class="text-[#392A4B] font-[500]">
                {{ lastService.service_date | date : "yyyy-MM-dd" }}
              </div>
            </div>
            <div class="flex gap-1">
              <span class="text-neutral-600">Service Type:</span>
              <div class="text-[#392A4B] font-[500]">
                {{ lastService.service_type }}
              </div>
            </div>
          </div>
          <div
            class="flex flex-wrap gap-x-10 gap-y-2.5 bg-[#E8D1C6] py-[6px] px-[22px] rounded-md"
          >
            <div class="gap-1 flex flex-wrap">
              <span class="text-neutral-600 whitespace-break-spaces"
                >Service Description:</span
              >
              <div class="text-[#392A4B] font-[500]">
                {{ lastService.review.en }}
              </div>
            </div>
            <div class="flex gap-1">
              <span class="text-neutral-600">Cost:</span>
              <div class="text-[#392A4B] font-[500]">
                {{ lastService.cost || "-" }} SAR
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noService>
        <div class="text-neutral-400 text-center py-8">
          No service records found.
        </div>
      </ng-template>
    </div>
    <div *ngIf="serviceHistoryTab === 'previous'">
      <ng-container *ngIf="previousServices.length > 0; else noPrevService">
        <div class="px-4 text-sm">
          <div
            *ngFor="let service of previousServices; let i = index"
            class="bg-[#F7F7FB] border-b border-neutral-200 mb-2"
          >
            <div
              class="flex justify-between items-center py-4 cursor-pointer select-none"
              (click)="toggleAccordionService(i)"
            >
              <div class="font-[500] text-base">
                {{ service.service_type }}
              </div>
              <span>
                <svg
                  *ngIf="expandedServiceIndex !== i"
                  width="20"
                  height="20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 8l4 4 4-4"
                    stroke="#7F5EA3"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <svg
                  *ngIf="expandedServiceIndex === i"
                  width="20"
                  height="20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14 12l-4-4-4 4"
                    stroke="#7F5EA3"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </div>
            <div *ngIf="expandedServiceIndex === i" class="pb-4">
              <div class="flex flex-wrap gap-y-4 gap-x-10 mb-2">
                <div>
                  <span class="text-neutral-600">Service Date:</span>
                  {{ service.service_date | date : "yyyy-MM-dd" }}
                </div>
                <div>
                  <span class="text-neutral-600">Service Type:</span>
                  {{ service.service_type }}
                </div>
              </div>
              <div class="flex flex-wrap gap-4 mb-2">
                <div>
                  <span class="text-neutral-600">Service Description:</span>
                  {{ service.review.en }}
                </div>
                <div>
                  <span class="text-neutral-600">Cost:</span>
                  {{ service.cost || "-" }} SAR
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noPrevService>
        <div class="text-neutral-400 text-center py-8">
          No previous services found.
        </div>
      </ng-template>
    </div>
    <button
      type="button"
      (click)="closeServiceHistoryModal()"
      class="px-4 py-2 mx-auto bg-[#E6E2F2] max-w-[223px] w-full h-[60px] rounded-[60px] flex items-center justify-center gap-1 mt-4"
    >
      <img src="/icons/cancel-btn.svg" alt="close" />
      Cancel
    </button>
  </div>
</div>

<!-- Delete Confirmation Modal  -->
<div
  *ngIf="deleteModalOpen"
  class="fixed inset-0 bg-black bg-opacity-30 flex items-center justify-center z-50 p-3"
>
  <div
    class="bg-white rounded-[20px] p-8 w-full max-w-[400px] shadow-lg flex flex-col items-center gap-6"
  >
    <h2
      class="text-lg font-bold text-center text-rose-600 flex items-center gap-2"
    >
      <img src="/icons/delete.png" alt="" />
      <div class="max-w-[200px]">
        Are you sure you want to delete <b>{{ vehicleToDelete?.name }}</b
        >?
      </div>
    </h2>
    <div class="flex gap-4 w-full justify-center">
      <button
        class="px-6 py-2 text-rose-600 rounded-[60px] border border-rose-600 flex items-center justify-center gap-1"
        (click)="closeDeleteModal()"
      >
        Cancel
      </button>
      <button
        class="px-6 py-2 bg-rose-600 text-white rounded-[60px] flex items-center justify-center gap-1"
        (click)="deleteVehicle()"
      >
        Yes, Delete
      </button>
    </div>
  </div>
</div>
