@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";
@import "~leaflet/dist/leaflet.css";

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.ql-container.ql-snow {
  min-height: 200px;
  padding: 0 !important;
  border: none;
}

quill-editor {
  width: 100% !important;
}

.ql-toolbar.ql-snow {
  border-right: none;
  border-top: none;
  border-left: none;
  border: 1px solid transparent !important;
  border-bottom: 1px solid #e5e5e5 !important;
}
